SECRET_KEY=MY_SECRET_KEY

# Application DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespw
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=postgres

#Test DB
POSTGRES_USER_TEST=postgres_test_user
POSTGRES_PASSWORD_TEST=postgres_test_password
DB_HOST_TEST=db_test
DB_PORT_TEST=5432
POSTGRES_DB_TEST=postgres_test

# CACHE
REDIS_PORT=6379
REDIS_URL=redis://redis:${REDIS_PORT}
REDIS_EXPIRE=3600

# BROKER
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# CELERY
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_PORT}//
CELERY_TASK_PERIOD=15

# FLOWER
FLOWER_PORT=5555


GOOGLE_SHEETS=False
# Укажите данные для работы ваших Python-приложений с подключёнными Google API
# Эти данные передаются платформой (Google Cloud Platform) в json-файле
# при создании ключа доступа к вашему сервисному аккаунту
TYPE=Service_account
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=

SPREADSHEET_TITLE=Menu_YLab
