aiosqlite
alembic
email-validator
fastapi
httpx
'uvicorn[standard]'

pre-commit

pydantic
pydantic-settings

redis
SQLAlchemy


# tests
factory-boy
Faker
fakeredis

flake8
pep8-naming
flake8-broken-line
flake8-return
flake8-isort

pytest
pytest-asyncio
pytest-cov
