alembic
fastapi
pydantic-settings
sqlalchemy
uvicorn[standard]

# tests
aiosqlite
asyncpg
httpx

factory-boy
Faker
fakeredis

flake8
pep8-naming
flake8-broken-line
flake8-return
flake8-isort

pytest
pytest-asyncio
pytest-cov
